.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  padding: 40px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0 10px #7c7979;

  .header {
    display: flex;
    justify-content: space-between;
  }

  .button {
    margin-top: 20px;
    align-self: flex-end;
  }
}